<style>
    .container{width:100%;margin:auto}
    @media (min-width:600px) {.container{width: 80%;}}
    @media (min-width:768px) {.container{width: 60%;}}
    @media (min-width:1024px) {.container{width: 50%;}}
</style>

<div class="container">
<h1>The image of activities ^_^</h1>
<p><img src="https://www.bing.com/images/search?view=detailV2&ccid=%2BzcQQe17&id=637DE2EFD17E70CC1D4074C05D143A03C46AF022&thid=OIP.-zcQQe17RS31ju1JZdbIvgHaE7&mediaurl=https%3A%2F%2Fwww.fafu.edu.cn%2F_upload%2Farticle%2Fimages%2Ffc%2F5a%2Fd7c0641b4c17bdfd23c69f21d335%2F84dd277d-691c-4f08-879e-d7fac900207d.jpg&exph=433&expw=650&q=%e5%9b%bd%e5%a4%96%e5%a4%a7%e5%ad%a6%e7%a4%be%e5%9b%a2&simid=608019021625558685&form=IRPRST&ck=48E159A5BDDC5FACFDBA2F93FE34BD38&selectedindex=11&itb=0&ajaxhist=0&ajaxserp=0&vt=0&sim=11"
   width="500" height="400"></p>

<form action="/image_ntu" method="post">
        <input type = "submit" value="Come Back!" style="width:200px;height:100px;">
</form>
  
<form action="/end" method="post">
    <input type = "submit" value="End" style="width:200px;height:100px;">
</form>
</div>
