<style>
    .container{width:100%;margin:auto}
    @media (min-width:600px) {.container{width: 80%;}}
    @media (min-width:768px) {.container{width: 60%;}}
    @media (min-width:1024px) {.container{width: 50%;}}
</style>

<div class="container">
<h1>The image of bulidings ^_^</h1>
<p><img src="https://www.bing.com/images/search?view=detailV2&ccid=5ZAqSaiG&id=632D04C63FBC575FBD8DAF6AFC410DF1FE4F050D&thid=OIP.5ZAqSaiGOhPtUAKFWU6eqwHaE8&mediaurl=https%3a%2f%2fth.bing.com%2fth%2fid%2fR.e5902a49a8863a13ed500285594e9eab%3frik%3dDQVP%252fvENQfxqrw%26riu%3dhttp%253a%252f%252fseopic.699pic.com%252fphoto%252f50049%252f1825.jpg_wh1200.jpg%26ehk%3dSlbzR97jpyDxc9ZUq7ju%252bNXHoDDjj6m8WDA3n1WMMss%253d%26risl%3d%26pid%3dImgRaw%26r%3d0&exph=800&expw=1200&q=%e5%8d%97%e6%b4%8b%e7%90%86%e5%b7%a5%e5%a4%a7%e5%ad%a6&simid=608000647749831214&FORM=IRPRST&ck=E4D5D0F9B65DC483A214BB49886F2320&selectedIndex=2&itb=0&ajaxhist=0&ajaxserp=0"
   width="500" height="400"></p>

<form action="/image_ntu" method="post">
        <input type = "submit" value="Come Back!" style="width:200px;height:100px;">
</form>
<form action="/end" method="post">
    <input type = "submit" value="End" style="width:200px;height:100px;">
</form>
</div>
