<style>
    .container{width:100%;margin:auto}
    @media (min-width:600px) {.container{width: 80%;}}
    @media (min-width:768px) {.container{width: 60%;}}
    @media (min-width:1024px) {.container{width: 50%;}}
</style>

<div class="container">
<h1>The image of bulidings ^_^</h1>
<p><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ef/Nayang_University_Singapore.JPG/1920px-Nayang_University_Singapore.JPG"
   width="500" height="400"></p>

<form action="/image_ntu" method="post">
        <input type = "submit" value="Come Back!" style="width:200px;height:100px;">
</form>
<form action="/end" method="post">
    <input type = "submit" value="End" style="width:200px;height:100px;">
</form>
</div>
