<style>
    .container{width:100%;margin:auto}
    @media (min-width:600px) {.container{width: 80%;}}
    @media (min-width:768px) {.container{width: 60%;}}
    @media (min-width:1024px) {.container{width: 50%;}}
</style>

<div class="container">
<h1>Go to explore the beautiful scene!</h1>

<form action="/main" method="post">
        <input type = "submit" value="Back to the main page!" style="width:200px;height:100px;">
</form>
<form action="/website_ntu" method="post">
    <input type="submit" value="Go to the website!" style="width:200px;height:100px;">
</form>
<form action="/building_ntu" method="post">
        <input type = "submit" value="Buildings" style="width:200px;height:100px;">
</form>
<form action="/activities_ntu" method="post">
        <input type = "submit" value="Activities" style="width:200px;height:100px;">
</form>
<form action="/end" method="post">
    <input type = "submit" value="End" style="width:200px;height:100px;">
</form>
</div>
