<style>
  .container{width:100%;margin:auto;}
  @media (min-width:600px){.container{width:80%;}}
  @media (min-width:768px){.container{width:60%;}}
  @media (min-width:1024px){.container{width:50%;}}
</style>

<div class="container">
  <h1>Welcome to Singapore, NTU</h1>
  <p><img src="https://images.unsplash.com/photo-1568890643060-ef2293be79b6?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
   width="500" height="400"></p>
  <form action="/main" method="post">
    <h2>My name is Spider-Man, may I know your name : </h2>
    <input type = "text" name="r" style="width:100px;height:50px;">
    <p><input type = "submit" value="Enter" style="width:100px;height:50px;"></p>
  </form>
</div>